body {
  --page-in-animation-delay: 1s;
  --page-in-animation-duration: 0.1s;
}

.pageLoadHeaderTransition {
  animation: fadeIn 0.5s 0.2s,
    slideUpFromPageCenter var(--page-in-animation-duration)
      var(--page-in-animation-delay);
  animation-fill-mode: both;

  @keyframes slideUpFromPageCenter {
    from {
      transform: translateY(calc(50vh - 7rem));
      pointer-events: none;
    }

    to {
      transform: translateY(0);
      pointer-events: unset;
    }
  }
}

.curtainUp {
  animation: curtainUp var(--page-in-animation-duration)
    var(--page-in-animation-delay);
  animation-fill-mode: both;
  transform-origin: top;

  @keyframes curtainUp {
    from {
      transform: scaleY(1);
    }

    to {
      transform: scaleY(0);
    }
  }
}
