@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --black-color: #152838;
  background-color: #fff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;

  color-scheme: light dark;
  color: var(--black-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}
body {
  display: grid;
  grid-template-rows: auto minmax(auto, 1fr) auto;
  min-height: 100dvh;
  background-image: linear-gradient(135deg, #f5f7faaa 0%, #c3cfe288 100%);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #18191b;
    background-image: none;
    color: #eceef0;
  }
}

header {
  padding: 5rem 0;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3.5em;
}

h1 {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.2rem;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: fit-content;
  font-size: 0.8rem;
}

.links a {
  color: var(--black-color);
}

.links a:hover {
  color: #676767;
  transition: color 0.15s ease-out;
}

@media (prefers-color-scheme: dark) {
  .links a {
    color: #c8cacc;
  }

  .links a:hover {
    color: #dde0e3;
  }
}

.backdrop-blur-inactive {
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  transition: backdrop-filter 0.3s ease-out;
}

.blur-active {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

* {
  user-select: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
} */
