@use "@/app/responsive" as *;

.heading {
  position: relative;
  z-index: 20;
  max-width: 100%;
  margin: 0.75rem auto;
  text-wrap: wrap;
  font-size: 3rem;
  @include md-screen {
    font-size: 3.75rem;
  }

  opacity: 0;
  animation: slideUpFromPageCenter 1s 1.5s;
  animation-fill-mode: both;
  @keyframes slideUpFromPageCenter {
    0% {
      pointer-events: none;
    }

    100% {
      transform: translateY(0);
      pointer-events: unset;
    }
  }

  mix-blend-mode: exclusion;
  filter: invert(100%);
  @media (prefers-color-scheme: dark) {
    filter: invert(0);
  }
}
