@use "@/app/responsive" as *;

.heading {
	position: relative;
	z-index: 20;
	max-width: 100%;
	margin: 0.75rem auto;
	text-wrap: wrap;
	font-size: 3rem;
	@include md-screen {
		font-size: 3.75rem;
	}

	opacity: 0;
	animation: slideUpFromPageCenter 1s 1.5s;
	animation-fill-mode: both;
	@keyframes slideUpFromPageCenter {
		0% {
			pointer-events: none;
		}

		100% {
			transform: translateY(0);
			pointer-events: unset;
		}
	}

	mix-blend-mode: exclusion;
	filter: invert(100%);
	@media (prefers-color-scheme: dark) {
		filter: invert(0);
	}
}

.curtain {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: calc(100vh + 60%);
	border-radius: 0 0 50% 50% / 30%;
	background-color: #1a1a1a;
	cursor: progress;
	z-index: 10;

	@media (prefers-color-scheme: dark) {
		background-color: #eceef0;
	}

	animation: curtainUp 1s 1.5s;
	animation-fill-mode: both;
	transform-origin: top;

	@keyframes curtainUp {
		from {
			transform: scaleY(1);
		}

		to {
			transform: scaleY(0);
		}
	}
}
